<section class="concerts">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Filter by price</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <ul>
          <%@concerts.each do |concert|%>
            <li><%=concert.title%> <%=link_to "Details" , controller:"concerts",action:"details",id:concert.id%></li>
          <%end%>
        </ul>
      </div>
      <div class="col-md-6">
        <form action="/filter/by-price" method="get">
          <input type="number" name="price">
          <button type="submit">Filter</button>
        </form>
      </div>
    </div>
  </div>
</section>
