<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My Blog</title>
  <meta name="description" content="My Blog">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
</head>
<body>
  <section class="blog">
    <div class="container">
      <div class="row">
        <%@posts.each do |item|%>
          <article class="col-md-4">
            <img class="img-responsive" src="https://unsplash.it/200/200"/>
            <h2><a href="/read/<%=item.id%>"><%=item.title%></a></h2>
          </article>
          <%end%>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3><a href="/categories">Categories</a></h3>
          <h3><a href="/authors">Authors</a></h3>
          <h3><a href="/new">Add post</a></h3>
        </div>
      </div>

    </div>
  </section>
</body>
</html>
