<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My Blog</title>
  <meta name="description" content="My Blog">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
</head>
<body>
  <section class="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h1>New post</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form action="/create" method="POST">
            <input class="form-control" type="text" name="title" placeholder="Title">
            <br/>
            <input class="form-control" type="text" name="content" placeholder="Content">
            <br>
            <select class="form-control" name="category">
              <option value="0">Select category</option>
              <%@categories.each do |category|%>
                <option value="<%=category.id%>"><%=category.name%></option>
              <%end%>
            </select>
            <br>
            <select class="form-control" name="author">
              <option value="0">Select author</option>
              <%@authors.each do |author|%>
                <option value="<%=author.id%>"><%=author.name%></option>
              <%end%>
            </select>
            <br>
            <button class="form-control btn btn-default" type="submit">CREATE</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
